
@{
    ViewBag.Title = "AddAudio";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="modal-body" style="margin-top:5%;">
    @using (Html.BeginForm("AddAudio", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label>Choose File:</label>
            <div class="input-group">
                <div class="custom-file">
                    <select name="LessonId" id="LessonId" required>
                        <option value="0">Select Lesson</option>
                    </select>
                    <label class="custom-file-label">Lasson </label>
                </div>

                <div class="custom-file">
                    <select name="TopicId" id="TopicId" required>
                        <option value="0">Select Topic</option>
                    </select>
                    <label class="custom-file-label">Topic </label>
                </div>

                <div class="custom-file">
                    <input type="file" name="Audiofiles" id="Audiofiles" required/>
                    <label class="custom-file-label">Audio </label>
                </div>
                <div class="input-group-append">
                    <input type="submit" class="btn btn-secondary" value="Upload" />
                </div>
            </div>
        </div>
    }
</div>
<script src="~/assets/js/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Admin/GetLesson",
            dataType: "json",
            success: function (topic) {
                $('#LessonId').html("");
                $('#LessonId').append('<option value="">Select Lesson</option>');
                $('#LessonId').append(topic);
            }
        });
        $("#LessonId").change(function () {
            var lasson = $("#LessonId").val();
            $.ajax({
                type: "Post",
                url: "/Admin/GetTopics",
                data: { lasson: lasson },
                success: function (topic) {
                    $('#TopicId').html("");
                    $('#TopicId').append('<option value="">Select Topic</option>');
                    $('#TopicId').append(topic);
                }
            });
        });
    });
</script>

