
@{
    ViewBag.Title = "AddAudio";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    body {
        height: auto;
    }


    .modal-body.add-audio-page {
        margin-top: 120px;
        margin-bottom: 30px;
    }

        .modal-body.add-audio-page form {
            max-width: 700px;
            margin: 0 auto;
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            border-radius: 5px;
            padding: 20px;
        }

            .modal-body.add-audio-page form .form-group > label {
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 17px;
                align-items: center;
                color: #425466;
                display: inline-block;
                margin-bottom: 20px;
            }

            .modal-body.add-audio-page form .input-group > div {
                width: 100%;
                margin-bottom: 10px;
            }

                .modal-body.add-audio-page form .input-group > div select {
                    width: 100%;
                    display: block;
                    background: #EDF2F7;
                    border-radius: 6px;
                    border: 0;
                    outline: none;
                    color: #7A828A;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 15px;
                    height: 55px;
                    padding: 0 20px;
                    margin-bottom: 20px;
                }

                .modal-body.add-audio-page form .input-group > div label {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    align-items: center;
                    color: #425466;
                    display: inline-block;
                    margin-bottom: 10px;
                }


                .modal-body.add-audio-page form .input-group > div input[type="submit"] {
                    background: #3ec1d5;
                    border: 0;
                }
                @@media(max-width:767px) {
                .modal-body.add-audio-page {
                    margin-top: 80px;
                    margin-bottom: 30px;
                }
}

</style>

<div class="modal-body add-audio-page">
    @using (Html.BeginForm("AddAudio", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="form-group">
        <label class="custom-file-label">Lasson </label>
        <div class="input-group">
            <div class="custom-file">
                <select name="LessonId" id="LessonId" required>
                    <option value="0">Select Lesson</option>
                </select>

            </div>
            <label class="custom-file-label">Topic </label>
            <div class="custom-file">
                <select name="TopicId" id="TopicId" required>
                    <option value="0">Select Topic</option>
                </select>

            </div>
            <label class="custom-file-label">Audio </label>
            <div class="custom-file">
                <input type="file" name="Audiofiles" id="Audiofiles" required />

            </div>
            <div class="input-group-append">
                <input type="submit" class="btn btn-secondary" value="Upload" />
            </div>
        </div>
    </div>
    }
</div>
<script src="~/assets/js/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Admin/GetLesson",
            dataType: "json",
            success: function (topic) {
                $('#LessonId').html("");
                $('#LessonId').append('<option value="">Select Lesson</option>');
                $('#LessonId').append(topic);
            }
        });
        $("#LessonId").change(function () {
            var lasson = $("#LessonId").val();
            $.ajax({
                type: "Post",
                url: "/Admin/GetTopics",
                data: { lasson: lasson },
                success: function (topic) {
                    $('#TopicId').html("");
                    $('#TopicId').append('<option value="">Select Topic</option>');
                    $('#TopicId').append(topic);
                }
            });
        });
    });
</script>

