
@{
    ViewBag.Title = "Music_Course";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>About Folk Music</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img src="assets/img/folk-music-character.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">Folk Music</h4>
                            </a>
                            <p>
                                Folk music is a music genre that includes traditional folk music and the contemporary genre that
                                evolved from the former during the 20th-century folk revival.
                            </p>
                            <p>
                                folk music, type of traditional and generally rural music that originally was passed down through
                                families and other small social groups. Typically, folk music, like folk literature, lives in oral
                                tradition; it is learned through hearing rather than reading. There are a number of different types of
                                music which can be considered part of folk music, including traditional, acoustic, bluegrass, Celtic,
                                roots, and old-timey. Besides sharing an interest in the same type of music, many in the folk
                                community have similar values. Folk music is music of the people.
                            </p>
                            <ul>
                                <li>1. It was transmitted through an oral tradition.</li>
                                <li>2. The music was often related to national culture.</li>
                                <li>3. They commemorate historical and personal events.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End col-->
            </div>
        </div>
    </div><!-- End About Section -->

    <div id="parallax-section" class="container-fluid parallax-servic-block services-area">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="parallax-inner">

                </div>
            </div>
        </div>
    </div>
    <!-- ======= Services Section ======= -->
    <div id="services" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center">
                        <h2>Folk Categories</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <!-- Start Left services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-briefcase"></i>
                                </a>
                                <h4>Expert Coder</h4>
                                <p>
                                    will have to make sure the prototype looks finished by inserting text or photo.make sure the
                                    prototype looks finished by.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-card-checklist"></i>
                                </a>
                                <h4>Creative Designer</h4>
                                <p>
                                    will have to make sure the prototype looks finished by inserting text or photo.make sure the
                                    prototype looks finished by.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-bar-chart"></i>
                                </a>
                                <h4>Wordpress Developer</h4>
                                <p>
                                    will have to make sure the prototype looks finished by inserting text or photo.make sure the
                                    prototype looks finished by.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-binoculars"></i>
                                </a>
                                <h4>Social Marketer </h4>
                                <p>
                                    will have to make sure the prototype looks finished by inserting text or photo.make sure the
                                    prototype looks finished by.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <!-- End Left services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-brightness-high"></i>
                                </a>
                                <h4>Seo Expart</h4>
                                <p>
                                    will have to make sure the prototype looks finished by inserting text or photo.make sure the
                                    prototype looks finished by.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <!-- End Left services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-calendar4-week"></i>
                                </a>
                                <h4>24/7 Support</h4>
                                <p>
                                    will have to make sure the prototype looks finished by inserting text or photo.make sure the
                                    prototype looks finished by.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ======= Rviews Section ======= -->
    <div class="reviews-area">
        <div class="row g-0">
            <div class="col-lg-6">
                <img src="assets/img/about/2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 work-right-text d-flex align-items-center">
                <div class="px-5 py-5 py-lg-0">
                    <h2>The Best Place to Learn Music</h2>
                    <h5>MUSIC CAN CHANGE THE WORLD BECAUSE IT CAN CHANGE PEOPLE.</h5>
                    <a href="#contact" class="ready-btn scrollto">Contact us</a>
                </div>
            </div>
        </div>
    </div><!-- End Rviews Section -->
    <!-- ======= Portfolio Section ======= -->
    <!-- ======= Suscribe Section ======= -->
    <div class="suscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                    <div class="suscribe-text text-center">
                        <h3>Welcome to our Music Learning Online Portal</h3>
                        <a class="sus-btn" href="#">Get A quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Suscribe Section -->
    <!-- ======= Contact Section ======= -->

</main><!-- End #main -->
