
@{
    ViewBag.Title = "subscription";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<br /><br />
<main id="main">


    <!-- ======= Pricing Section ======= -->
    <div id="pricing" class="pricing-area area-padding pricing-table-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Subscription Table</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list">
                        <h3>basic <br /> <span>$80 / month</span></h3>
                        <ol>
                            <li class="check"><i class="bi bi-check"></i><span>Music Education </span></li>
                            <li class="check"><i class="bi bi-x"></i><span>Music Therapy </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Music and Workship </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>General Music</span></li>
                            <li class="cross"><i class="bi bi-x"></i><span>Performance </span></li>
                            <li class="cross"><i class="bi bi-x"></i><span>Production Music Business & Industry </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Jazz </span></li>
                            <li class="check"><i class="bi bi-x"></i><span>Ethomusicolgy</span></li>
                        </ol>
                        <button>Buy now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list active">
                        <span class="saleon">top sale</span>
                        <h3>standard <br /> <span>$110 / month</span></h3>
                        <ol>
                            <li class="check"><i class="bi bi-check"></i><span>Music Education </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Music Therapy </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Music and Workship </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>General Music</span></li>
                            <li class="cross"><i class="bi bi-x"></i><span>Performance </span></li>
                            <li class="cross"><i class="bi bi-x"></i><span>Production Music Business & Industry </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Jazz </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Ethomusicolgy</span></li>
                        </ol>
                        <button>Buy now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list">
                        <h3>premium <br /> <span>$150 / month</span></h3>
                        <ol>
                            <li class="check"><i class="bi bi-check"></i><span>Music Education </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Music Therapy </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Music and Workship </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>General Music</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Performance </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Production Music Business & Industry </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Jazz </span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Ethomusicolgy</span></li>
                        </ol>
                        <button>Buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Pricing Section -->


</main><!-- End #main -->